@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(240, 240, 250);
    font-family: "Comic Sans MS";
}

@media only screen and (min-device-width: 768px) {
    .back-to-top {
        position: fixed;
        bottom: 15px;
        right: 25px;
        display: none;
        z-index: 6;
        height: 55px;
        width: 55px;
    }
}

.logo{
    font-family: "Comic Sans MS";
    display: flex;
    padding-top: 0.5%;
}

.nav-item {
    outline-offset: -5px

}