@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(240, 240, 250);
    font-family: "Comic Sans MS";
}

.logo{
    font-family: "Comic Sans MS";
    display: flex;
    padding-top: 0.5%;
}

.nav-link,
.btn-outline-success {
    margin-left: 5px;
    margin-right: 5px;
    color:#000a0a;

}

.Bienvenue {
    display: flex;
    justify-content: center;
}

.form-control {
    width: 300px;
}